body {
  background-color: #f9f7fe;
  font-family: Arial, Helvetica, sans-serif;
}
.app {
  background: white;
  margin: 45px auto;
  max-width: 600px;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}
.search-form-input {
  background-color: #f9f7fe;
}
.search-form-button {
}
