body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}
.weather-app {
  background: white;
  margin: 45px auto;
  max-width: 600px;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}
.search-form-input {
  background-color: #f9f7fe;
  width: 65%;
  border-style: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 15px;
}
.search-form-button {
  background-color: #967cd6;
  color: white;
  border-style: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 15px;
}
.search-form-button:hover {
  background-color: #7d57dd;
}
